name: {{ inventory_hostname }}
data-dir: /var/lib/etcd

listen-peer-urls: http://{{ private_ip }}:<{ etcd-peer-port }>
listen-client-urls: http://{{ private_ip }}:<{ etcd-client-port }>,http://127.0.0.1:<{ etcd-client-port }>
initial-advertise-peer-urls: http://{{ private_ip }}:<{ etcd-peer-port }>
advertise-client-urls: http://{{ private_ip }}:<{ etcd-client-port }>

initial-cluster: {% for host in groups['postgres'] | sort %}{{ host }}=http://{{ hostvars[host].private_ip }}:<{ etcd-peer-port }>{% if not loop.last %},{% endif %}{% endfor %}

initial-cluster-token: <{ cluster-name }>-etcd
initial-cluster-state: new

auto-compaction-mode: periodic
auto-compaction-retention: "1h"
quota-backend-bytes: 2147483648
snapshot-count: 10000
enable-v2: false
